<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwv3qMutw7_PRvkN3fSwC-VRrGiWuTOWM</string>
	<key>GCM_SENDER_ID</key>
	<string>218523724323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.upworkclone</string>
	<key>PROJECT_ID</key>
	<string>upworkclone-f81f0</string>
	<key>STORAGE_BUCKET</key>
	<string>upworkclone-f81f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218523724323:ios:f96e755d9ce49f653c5f96</string>
</dict>
</plist>